<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="stylesheets/style.css" />
  <title>Commande validée</title>
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <nav class="header col-12 navbar navbar-light bg-dark">
        <a class="navbar" href="/">
          <img
            src="images/bike-logo.svg"
            width="50"
            height="50"
            class="logo"
            alt=""
          />
          The Bike Shop Experience
        </a>
      </nav>
    </div>
  
    <div class="row ariane">
      <nav aria-label="breadcrumb" class="col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Shop</a></li>
          <li class="breadcrumb-item active" aria-current="page">Basket</li>
        </ol>
      </nav>
    </div>
  
    <h1>Confirmation</h1>
    <div class="textcenter">
      <h6 class="text-center">Your order has been successfully sent !</h6>
    </div>

  </div>
  
  
</body>
</html>